.post {
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 10px;
	background: white;
}

.post {
	margin-bottom: 20px;
}

.post img {
	align-self: start;
	width: 30px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 10px;
}
