.profileInfo {
	position: relative;
}

.background {
	width: 100%;
	height: 200px;
	object-fit: cover;
	filter: blur(2px);
}

.avatar {
	height: 100px;
	width: 100px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: 145px;
}

.name {
}

.info {
	margin-left: 20px;
}
