.login {
    /*background: white;*/
}

.header {
    margin-top: 25px;
    font-size: 24px;
    text-align: center;
}

.form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .error {
    border: 1px solid tomato;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.formGroup span {
    color: tomato;
}

.formGroup label {
    font-size: 20px;
}

.formGroup input {
    margin-bottom: 25px;
}

.formGroup input:not([type='checkbox']) {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

.formGroup input:focus:not([type='checkbox']) {
    outline: none;
    box-shadow: 0 0 12px 1px #3474dbb2;
}

.btn {
    font-size: 21px;
    padding: 5px 20px;
    border: 0;
    background-color: #3498db;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #2386c8;
}

.btn:focus {
    outline: none;
}