.root {
	height: 100vh;
}

.App {
	height: 95vh;
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 80px auto;
	grid-template-columns: 150px auto;
	grid-template-areas:
		'header header'
		'aside main';
}
